<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>ЦРМ</title>
	
	<link href="/favicon.ico" rel="icon" type="image/x-icon" />

	<link href="/home/pilgrim/PycharmProjects/ivlev/static/css/reset.css" rel="stylesheet">
	<link href="/static/css/style.css" rel="stylesheet">


<!--	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic,latin' rel='stylesheet' type='text/css'>-->
	
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

</head>
<body>
<div class="b-page">
	<div class="b-layout">
		<div class="b-container-fluid">
			<div class="b-header b-section b-columns b-clearfix">
				<div class="b-right-fluidcol">
					<div class="b-right-fluidcol-w">
						<div class="b-pull-right"><a href="#">Настройки</a></div>
						<ul class="unstyled inline-list">
							<li><a href="#">Рабочий стол</a></li>
							<li><a class="active" href="#">• Заказы</a></li>
							<li><a href="#">Клиенты</a></li>
							<li><a class="not-active" href="#">Мессенджер</a></li>
							<li><a class="not-active" href="#">Тикеты</a></li>
						</ul>
					</div>
				</div>
				<div class="b-left-fixcol">
					<a class="logotype no-underline" href="/"><img src="img/logo.png" /></a>
				</div>
			</div>
			<div class="b-content b-section b-columns b-clearfix">
				<div class="b-right-fluidcol">
					<div class="b-right-fluidcol-w">
						<div class="b-section">
							<a href="myorders.html">< К списку моих заказов</a>
							<div class="header-1">Заказ № 312</div>
							<p>Optiscope.ru</p>
							<p>Менеджер: ЯЯЯ&nbsp;&nbsp;<a href="#">передать заказ</a></p>
							<p>&#8226;&#8226;&#8226;&#8226;&#9675;<br />Статус: select</p>
							<p><input type="text" value="01.04.2014"/></p>
							<p><input type="text" value="12453"/></p>
							<p><input type="text" value="Иванов Сергей"/></p>
							<p>
								<ul>
									<li>Микроскоп Биомед-6 Вар.3 LED (1 шт.)</li>
									<li>Инспекционная камера эндоскоп CMS-31 (1 шт.)</li>
								</ul>
							</p>
							<p><input type="text" value="Почта РФ"/></p>
							<p><input type="text" value="Наликом"/></p>
							<p><input type="text" value="2 154 Р"/></p>
						</div>
						<div class="b-section">
							*История изменений по заказу (Кто, дата, что поменял)*
						</div>
					</div>
				</div>
				<div class="b-left-fixcol">
					<ul class="unstyled">
						<li>
							<a class="active" href="orders.html">• Лента заказов</a> 24<!--Новые не просмотренные-->
						</li>
					</ul>
					<br />
					<ul class="unstyled">
						<li>
							<a class="active" href="myorders.html">Мои заказы</a> 12<!--Новые взятые-->
							<ul class="unstyled">
								<li>
									<a  href="myorders.html">Optiscope.ru</a> 6<!--Новые взятые-->
								</li>
								<li>
									<a  href="myorders.html">Micromed.pro</a> 2<!--Новые взятые-->
								</li>
								<li>
									<a  href="myorders.html">Fe-foto.ru</a> 1<!--Новые взятые-->
								</li>
								<li>
									<a  href="myorders.html">Huibambet.ru</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="b-footer">
	Футер
</div>
</body>
</html>
